<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.glumma" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
            android:name="com.example.glumma.MY_CUSTOM_PERMISSION"
            android:label="Custom Permission"
            android:description="@string/permission_description"
            android:protectionLevel="signature" />
    <application
            android:name=".MyApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" >

        <!-- Activities -->
        <activity
                android:name=".FragmentController"
                android:exported="false"
                android:theme="@style/AppTheme" />
        <activity
                android:name=".StepController"
                android:exported="false" />
        <activity
                android:name=".LabActivity"
                android:exported="false" />
        <activity
                android:name=".ExerciseActivity"
                android:exported="false" />
        <activity
                android:name=".FoodActivity"
                android:exported="false" />
        <activity
                android:name=".WeightActivity"
                android:exported="false" />
        <activity
                android:name=".PressureActivity"
                android:exported="false" />
        <activity
                android:name=".AddInformation"
                android:exported="false" />
        <activity
                android:name=".TrackMe"
                android:exported="false" />
        <activity
                android:name=".Profiler_6"
                android:exported="false"
                android:theme="@style/AppTheme.Splash" />
        <activity
                android:name=".Profiler_5"
                android:exported="false"
                android:theme="@style/AppTheme.Splash" />
        <activity
                android:name=".Profiler_4"
                android:exported="false"
                android:theme="@style/AppTheme.Splash" />
        <activity
                android:name=".Profiler_3"
                android:exported="false"
                android:theme="@style/AppTheme.Splash" />
        <activity
                android:name=".Profiler_2"
                android:exported="false"
                android:theme="@style/AppTheme.Splash" />
        <activity
                android:name=".Profiler_1"
                android:exported="false"
                android:theme="@style/AppTheme.Splash" />
        <activity
                android:name=".SplashScreen"
                android:exported="true"
                android:theme="@style/AppTheme.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".AlarmDialogActivity"
                android:launchMode="singleTask"
                android:excludeFromRecents="true"
                android:showOnLockScreen="true"
                android:turnScreenOn="true"
                android:allowEmbedded="false"
                tools:targetApi="o_mr1" />
        <activity
                android:name=".dashboard"
                android:exported="false"
                android:theme="@style/AppTheme.Splash" />

        <!-- Register the AlarmReceiver -->
        <!-- Declare the receiver and assign the custom permission -->
        <receiver android:name=".AlarmReceiver"
                android:exported="false"
                android:enabled="true"
                android:permission="com.example.glumma.MY_CUSTOM_PERMISSION">
            <intent-filter>
                <action android:name="com.example.yourapp.ACTION_ALARM"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".BootReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
